 
{% extends "game_base.html" %}
   {% block content %}

 <img src="http://www.crabships.appspot.com/serve/AMIfv96D0NKwAtI4JN5F9pZbPYQRgLdgcZ_8iGZ06LRl-hqo3sHNzXftyBYrCrqz6W8rw7OLVpG1lHgRSwTmw1QxlxGYfUUblu7ExyxIjTSrl0V39gAR0jc4wF2TgfH1h5usT2XgYAh1k-DVe4F_JLVCXg9_w0exEDQ7TUyhSVIZWF9aCGKefck " alt="start_game">
 
    

       <a href="/monty_hall?v=1" name="v" class="post-choice1">Choice_1</a>
       <a href="/monty_hall?v=2" name="v" class="post-choice2">Choice_2</a>
       <a href="/monty_hall?v=3" name="v" class="post-choice3">Choice_3</a>

<div class="desc"><br><br><br><br>За одной из дверей находится приз. Выберите дверь!</div>


   {% endblock %}

