{% extends "game_base.html" %}
   {% block content %}


<h2>WIN!</h2>

<img src="http://www.crabships.appspot.com/serve/AMIfv96jI-kXfvNZmUsOpAIop2b5TlIn_y9ZFeQXbXq3ZrlNcY3r0IkO4zj6Wt5jDIRZwZ2g1SC-FSKoV3biIMjb-4XgB0pnq33a7BHQ3RICJgeiESytdVZ871cdUuiBsVuuNTGI8ythI9t-dq6Rm__ydLryyEU-HGGd3BwsAVtBn-akqR56tHo" alt="Winner">

<a href="/monty_hall" name="p" class="post-choice1">One more time</a>




<div class="desc"><br><br><br><br>Поздравляем, Вы правильно отгдали, что дверь была номер {{odin}}</div>

   {% endblock %}

