{% extends "game_base.html" %}
   {% block content %}


<h2>Loose!</h2>

<img src="http://www.crabships.appspot.com/serve/AMIfv96uXECoqlJ-WUQ3U4M2hdnsXJ_A57X-R8a4WwwBm2x2MGFCQ3XpckSs0Jc81RxojOsgdw8q-4oOS719RlEN8B5nU-9TSE2ep4kGs2fJaWLvrEyT3OGJFeW34kxazn6A8_NQyQFF5rZfIeDtzZR_C9Q7mY8crV37diSlTgZ3_dJMF5aEYxU" alt="Loser">
 

  
      




<div class="desc"><br><br><br><br>Правильный ответ был {{odin}}<br>Но не расстраивайтесь, Вы можете<br><a href="/monty_hall" name="p" color="gray">попробовать снова</a></div>

   {% endblock %}

